<form method="post" action="{{ path('app_gestion_cours_delete', {'id': cour.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer ce cours ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cour.id) }}">
    <button class="rounded-xl bg-[#163853] font-bold py-1 px-2 text-white">Supprimer</button>
</form>
