{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <div class="flex justify-center">
        <h1 class="font-bold text-white rounded-xl py-1 my-4 px-2 bg-[#163853]">Votre profil</h1>
    </div>
    <div class="flex justify-center mb-4">
        <div class="rounded-xl bg-[#163853] py-1 px-2 text-white text-center">
            <p><b>ID :</b> {{ user.id }}</p>
            <p><b>Email :</b> {{ user.email }}</p> 
            <p><b>Email :</b> {{ user.password }}</p> 
        </div>
    </div>       
    <div class="flex justify-center">
        <a class="font-bold rounded-xl py-1 px-2 bg-[#163853] text-white" href="{{ path('app_profil_edit')}}">Modifer</a>
    </div>

{% endblock %}


