<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href={{asset('media/pageIcon.svg')}}>
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        {% block stylesheets %}
        <style>
            body.dark-bg {
                background-color: #1F2937 !important;
            }

            body.light-bg {
                background-color: #FFFFFF !important;
            }
        </style>
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/theme.js') }}"></script>

            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="bg-white dark-bg">
        {{include("navbar.html.twig")}}

        {% block body %}
        {% endblock %}
    </body>
</html>
