{{ form_start(form) }}
    {{ form_row(form.message) }}
    <div class="flex justify-center">
        <button class="rounded-xl text-white border-2 py-1 px-2 my-2">{{ button_label|default('Envoyer') }}</button>
    </div>
{{ form_end(form) }}