{% extends 'base.html.twig' %}

{% block title %}Nouveau message{% endblock %}

{% block body %}
    <div class="flex justify-center mt-32">
        <div class="rounded-xl bg-[#163853] py-1 px-2 mb-2">
            {{ include('gestion_forum/_form.html.twig') }}
        </div>
    </div>
    <div class="flex justify-center">
    <a class="rounded-xl bg-[#163853] py-1 px-2 text-white" href="{{ path('app_gestion_forum_index') }}">Retour au forum</a>
    </div>
{% endblock %}

