<form method="post" action="{{ path('app_admin_utilisateur_delete', {'id': user.id}) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="rounded-xl bg-[#163853] font-bold py-1 px-2 text-white">Supprimer utilisateur</button>
</form>
