{% extends 'base.html.twig' %}

{% block title %}Modifier Utilisateur (admin){% endblock %}

{% block body %}
    <div class="flex justify-center">
        <h1 class="font-bold text-white rounded-xl py-1 my-4 px-2 bg-[#163853]">Modifier utilisateur</h1>
    </div>
    <div class="flex justify-center mt-4 rounded-xl bg-[#163853] py-2 px-4 mx-96">
        {{ include('admin_utilisateur/_form.html.twig', {'button_label': 'Modifier'}) }}
    </div>

    <div class="flex justify-center mt-4 mx-96">
        <a class="rounded-xl text-white mr-4 font-bold py-1 px-2 bg-[#163853]" href="{{ path('app_admin_utilisateur_index') }}">Retour à la liste des utilisateurs</a>
        {{ include('admin_utilisateur/_delete_form.html.twig') }}
    </div>
{% endblock %}
